<div id="wrapper">
    <!-- SIDEBAR -->
    <div class="sidebar" ng-controller="CommonCtrl">
      <div class="brand">
        <a href="index.html"><img src="assets/img/logo.png" alt="Logo" class="img-responsive logo"></a>
      </div>
      <div class="sidebar-scroll">
        <nav>
          <ul class="nav">
            <li><a href="#dashboard" class="active"><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
            <li ng-if="user.userrole == 'admin'"><a href="#order" class=""><i class="fa fa-calendar"></i> <span>Order</span></a></li>
            <li ng-if="user.userrole == 'admin'"><a href="#product" class=""><i class="lnr lnr-chart-bars"></i> <span>Product</span></a></li>
            <li ng-if="user.userrole == 'sales_person'"><a href="#new_order" class=""><i class="lnr lnr-cog"></i> <span>Create Order</span></a></li>
            <li ng-if="user.userrole == 'admin'"><a href="#user" class=""><i class="lnr lnr-user"></i> <span>User Management</span></a></li>
          
          </ul>
        </nav>
      </div>
      <!--<a class="footer" href="#" title="Twitter share" target="_blank"><i class="fa fa-twitter"></i> <span>SHARE THIS FREEBIE</span></a>-->
    </div>
    <!-- END SIDEBAR -->
    <!-- MAIN -->
    <div class="main" ng-controller="CommonCtrl">
      <!-- NAVBAR -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-btn">
            <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
          </div>
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu">
              <span class="sr-only">Toggle Navigation</span>
              <i class="fa fa-bars icon-nav"></i>
            </button>
          </div>
          <div id="navbar-menu" class="navbar-collapse collapse">
            <form class="navbar-form navbar-left hidden-xs">
              <div class="input-group">
                <input type="text" value="" class="form-control" placeholder="Search dashboard...">
                <span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>
              </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                  <i class="lnr lnr-alarm"></i>
                  <span class="badge bg-danger">1</span>
                </a>
                <ul class="dropdown-menu notifications">
                  <li><a href="#" class="notification-item"><span class="dot bg-warning"></span>Lorem Ipsum is simply</a></li>
                  
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="assets/img/user.png" class="img-circle" alt="Avatar"> <span>{{user.name}}</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
                <ul class="dropdown-menu">
                  <li><a href="#"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>
                  <li><a href="#"><i class="lnr lnr-envelope"></i> <span>Message</span></a></li>
                  <li><a href="#"><i class="lnr lnr-cog"></i> <span>Settings</span></a></li>
                  <li><a ng-click="logout()"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- END NAVBAR -->
      <!-- MAIN CONTENT -->
      <div class="main-content">
        <div class="container-fluid">
          <!-- OVERVIEW -->
              <div ng-if="user.userrole != 'vendor'">
                <div id="calendar"></div>
              </div>
              <div ng-if="user.userrole == 'vendor'">
                Vendor Dashboard In progress
              </div>
          <!-- END OVERVIEW -->
        </div>
      </div>
      <!-- END MAIN CONTENT -->
      <footer>
        <div class="container-fluid">
          <p class="copyright">&copy; 2017. Designed &amp; Crafted by <a href="#">Vendor</a></p>
        </div>
      </footer>
    </div>
    <!-- END MAIN -->
  </div>
  <!-- END WRAPPER -->

  <div id="NewMeetingModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New Meeting</h4>
      </div>
      <div class="modal-body">
        <div class="tab-pane fade in active" id="tab-bottom-left1">
            <form class="form-horizontal">
             <div class="form-group">
                 <label class="control-label col-sm-4" for="name">Meeting Tite:</label>
                 <div class="col-sm-8">
                    <input type="text" ng-model="meeting.title" class="form-control" id="name" placeholder="Meeting Tite">
                 </div>
             </div>
             <div class="form-group">
                 <label class="control-label col-sm-4" for="details">Description:</label>
                 <div class="col-sm-8">
                    <textarea ng-model="meeting.description" class="form-control" placeholder="Description"></textarea>
                 </div>
             </div>
             <div class="form-group">
                 <label class="control-label col-sm-4" for="quantity">Start Date/Time:</label>
                 <div class="col-sm-8">
                    <input type="text" ng-model="meeting.start" jqdatepicker class="form-control" id="quantity" placeholder="dd/mm/yyyy hh:ii:ss">
                 </div>
             </div>
             <div class="form-group">
                 <label class="control-label col-sm-4" for="quantity">End Date/Time:</label>
                 <div class="col-sm-8">
                    <input type="text" ng-model="meeting.end" jqdatepicker class="form-control" id="quantity" placeholder="dd/mm/yyyy hh:ii:ss">
                 </div>
             </div>
         </form>    
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="add_meeting()">Submit</button>
      </div>
    </div>

  </div>
</div>

<div id="MeetingModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{vm.title}}</h4>
      </div>
      <div class="modal-body">
        <div class="tab-pane fade in active" id="tab-bottom-left1">
            <form class="form-horizontal">
             <div class="form-group">
                 <label class="control-label col-sm-4" for="name">Meeting Tite:</label>
                 <div class="col-sm-8">
                    <span ng-bind="vm.title"></span>
                 </div>
             </div>
             <div class="form-group">
                 <label class="control-label col-sm-4" for="details">Description:</label>
                 <div class="col-sm-8">
                    <span ng-bind="vm.description"></span>
                 </div>
             </div>
             <div class="form-group">
                 <label class="control-label col-sm-4" for="quantity">Start Date/Time:</label>
                 <div class="col-sm-8">
                    <span ng-bind="vm.start"></span>
                 </div>
             </div>
             <div class="form-group">
                 <label class="control-label col-sm-4" for="quantity">End Date/Time:</label>
                 <div class="col-sm-8">
                    <span ng-bind="vm.end"></span>
                 </div>
             </div>
             <div class="form-group">
                 <label class="control-label col-sm-4" for="quantity">Minutes Of Meeting:</label>
                 <div class="col-sm-8">
                    <textarea ng-model="vm.mom" class="form-control" placeholder=""></textarea>
                 </div>
             </div>
         </form>    
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="update_meeting()">Submit</button>
      </div>
    </div>

  </div>
</div>