<div id="wrapper">
    <div class="vertical-align-wrap">
      <div class="vertical-align-middle">
        <div class="auth-box lockscreen clearfix">
          <div class="content">
            <h3>Enter your mail to reset password</h3>
            <form name="password_form" novalidate="" class="form-horizontal form-label-left" ng-submit="update_profile(user_details, password_form)">
              <div class="input-group">
                <input type="email" class="form-control" placeholder="Enter your email ..." ng-model="email">
                <span class="input-group-btn"><button type="submit" class="btn btn-primary"><i class="fa fa-arrow-right"></i></button></span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>