<div class="login">
      <h2>Reset Password</h2>
       <form name="password_form" novalidate="" class="form-horizontal form-label-left" ng-submit="update_profile(user_details, password_form)">
               <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <input type="password" class="form-control" placeholder="New password" ng-model="user_details.new_password" required="">
                </div>
                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <input type="password" class="form-control" placeholder="confirm password" ng-model="user_details.confirm_password" required="" compare-to="user_details.new_password">
                </div>
                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
                  <button type="reset" class="btn btn-primary">Clear</button>
                  <button id="send" type="submit" class="btn btn-success">Save</button>
                </div>
                </form>
</div>